<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<!-- Bootstrap core CSS -->
			<link href="{{ BASE_URL }}/assets/css/bootstrap.min.css" rel="stylesheet">
			<link rel="stylesheet" href="{{ BASE_URL }}assets/css/sidebars.css"/>
			<link rel="stylesheet" href="{{ BASE_URL }}assets/css/style.css?v=0.5">
			<script src="{{ BASE_URL }}assets/js/jquery-3.6.0.min.js"></script>
			<script src="{{ BASE_URL }}assets/js/main.js?v=0.813adaaaa"></script>
			<title>{% block title %}{% endblock %} - Adresář kontaktů</title>
		{% endblock %}
	</head>
	<body>
		<div id="content">{% block content %}{% endblock %}</div>
		<!--<div id="footer">
			{% block footer %}
				&copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.template {{ the }} {{ go }}
			{% endblock %}
		</div>-->
		
		
<script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://getbootstrap.com/docs/5.0/examples/sidebars/sidebars.js"></script>

	</body>
</html>