<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<!-- Bootstrap core CSS -->
			<link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
			<link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/examples/sidebars/sidebars.css"/>
			<link rel="stylesheet" href="./assets/css/style.css">
			<title>{% block title %}{% endblock %} - Adresář kontaktů</title>
		{% endblock %}
	</head>
	<body>
		<div id="content">{% block content %}{% endblock %}</div>
		<!--<div id="footer">
			{% block footer %}
				&copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.template {{ the }} {{ go }}
			{% endblock %}
		</div>-->
		
		
<script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://getbootstrap.com/docs/5.0/examples/sidebars/sidebars.js"></script>

	</body>
</html>