{% extends "base.html" %}

{% block title %}{{ pageTitleSub }}{% endblock %}
{% block head %}
	{{ parent() }}
	<style type="text/css">
		.important { color: #336699; }
	</style>
{% endblock %}
{% block content %}

{% include 'menu.html' %}
	
	<div class="row" id="contentBlock">
		<div class="col-md-12">
			<h1>
				  {{ pageTitle }}
				  <small class="text-muted">{{ pageTitleSub }}</small>
			</h1>
			{{ pageContent|raw }}

		{% if pageContentButton %}{{ pageContentButton|raw }}{% endif %}	
		
		{% if pageContentTable %}
		<table class="table table-striped">
			<thead>
				<th>
					Příjmení
				</th>
				<th>
					Jméno
				</th>
				<th>
					Telefon
				</th>
				<th>
					Email
				</th>
				<th>
					Akce
				</th>
			</thead>
			<tbody>
			{% for contact in pageContentTable %}
				<tr>
					<td>{{ contact.surname }}</td>
					<td>{{ contact.name }}</td>
					<td><a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></td>
					<td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
					<td>
						<a href="{{ contact.url }}" data-id="{{ contact.id }}" class="editContact">
							<svg class="bi" width="24" height="24" role="img" aria-label="Upravit"><use xlink:href="#edit"/></svg> Upravit
						</a>
						<a href="#" data-id="{{ contact.id }}" class="deleteContact">
							<svg class="bi" width="24" height="24" role="img" aria-label="Smazat"><use xlink:href="#delete"/></svg> Smazat
						</a>
					</td>
				</tr>
			{% endfor %}
		

				</tbody>
			</table>
			{% endif %}
		</div>
	</div>

	</main>
{% endblock %}